<p class="fs-1 fw-bolder text-center">Instructions</p>
<div class="mt-3">
  <p>1.Please try to type it accurately; going back and fixing typos is time-consuming.</p>
  <p>2.You have 60 seconds to input as many without making any mistakes as you can; your results will then show up in a dialogue box.</p>
  <p>3.The speed is measured globally as words/min ((number of characters entered / 5)/60).</p>
  <p>4.The characters you enter here must match those listed above; case and symbols are taken into consideration.</p>
  <div class="text-center my-3">
    <p class="fs-1 fw-bolder">Good Luck :)</p>
  </div>
  <div class="text-end">
    <button class="btn btn-primary" (click)="onClickContinue()">Continue</button>
  </div>
</div>
